<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>TinyApp</title>
</head>
<body style="font-size:20px; padding:50px;">
    <header>
        <% include ./partials/_header %>
    </header>
    <!-- <h3>Create TinyURL</h3> -->
    <!-- Add EJS code here -->
        <!-- <h4><b>TinyURL for </b><a href="/urls/<%= shortURL %>"><%= longURL[shortURL] %></a></h4> -->
    <h3><b>TinyURL for </b><%= longURL[shortURL] %></h3>
    <%= shortURL %>
</body>
</html>
